{% extends "base.html" %}
{% block body %}
<div class = "container-fluid">
    <div class = "span4">
        <img src="/static/mousetrack_image.png">
    </div>
    <div class ="span6">
    <h3>More research, less maintenance!</h3>
            <ul>
                <li class="font">Email reminders for weaning</li>
                <li class="font">Tracks mouse lineage</li>
                <li class="font">Automated cage maintenance cost calculator</li>
                <li class="font">Easy retreival of individual mouse information</li>
                <li class="font">Anytime access and easy data storage</li>
                <li class="font">It's free!</li>
            </ul>      
    </div>  
</div>
{% endblock %}