<!DOCTYPE html>
<html>
    <head>
        <title>Week 3 Lab</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class ="row-fluid">                    
                <div id="content">
                    {% block body %}{% endblock %}
                </div>
                <div class="span4">
                <div id="nav">
                    Navigation:<br />
                <ul class="nav nav-list">
                        <li><a href="{{url_for('remote')}}">Remote control</a></li>
                </ul>
                </div>
                </div>
                <div class="span8">
                <div id="flashed">
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                    {% endwith %}
                </div>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    </body>
</html>