{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <div class="hero-unit">
        <h1><span>Welcome to the mouse colony management system!</span></h1>
        <p>This is a web-based system for keeping records of animals and their cages in order to reduce time spent in animal maintaince and instead perform experiments!</p>
        <p>
            <a class="btn btn-inverse btn-primary btn-large" href="/about/">
            Why MouseTrack?
        </a>
        </p>
    </div>
</div>
{% endblock %}